@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  font-family: sans-serif;
  background-color: #9D9690;
  color: #ffffff;
  width: 100vw;
}

a {
  color: #ffffff;
}

/* ヘッダー */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9D9690;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-bottom: -80px;
}

.sub {
  font-size: 4vw;
}

.main {
  font-size: 15vw;
  font-family: 'Montserrat', sans-serif;
}

/* 追従する帯 */
#app_bar {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #9D969088;
  z-index: 2;
}

#app_bar div {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.app {
  width: 120px;
}

/* 段落のスタイル統一設定 */
.parts {
  height: 430px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.parts h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.parts p {
  font-size: 15px;
  line-height: 30px;
  width: 75vw;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 注意書きの小文字 */
.caution {
  font-size: 10px;
  line-height: 15px;
}

/* 各段落のpの背景 */
.black {
  background: rgba(11, 11, 11, 0.3);
}
.gray {
  background: rgba(169, 159, 151, 0.3);
}
.navy {
  background: rgba(14, 19, 30, 0.3);
}
.pink {
  background: rgba(224, 109, 104, 0.3);
}
.white {
  background: rgba(255, 255, 255, 0.7);
  color: #707070;
}
.white a {
  color: #707070;
}
#graytext {
  color: #707070;
  margin-bottom: 0;
}

/* 文字数大のスペース調整 */
#longp {
  margin-bottom: 10px;
}

#longtext {
  margin-bottom: 0;
}

/* 画像の背景化 */
.background {
  position: absolute;
  width: 100%;
  height: 430px;
  object-fit: cover;
  z-index: -1;
}

/* フッター */
footer {
  background-color: #3F4349;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  padding: 10px;
}

.other_info {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
}

.other_info a {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact {
  margin: 10px;
}

.copyright {
  margin: 10px;
  font-size: 10px;
}

@media (min-width: 750px) {

  .background {
    width: 50vw;
    z-index: 1;
    /* position: static; */
  }

  .left_img {
    left: 0;
  }
  .right_img {
    right: 0;
  }

  .main_text {
    position: absolute;
    width: 50vw;
  }
  .parts p {
    width: 37vw;
  }

  .black_div {
    background: rgba(11, 11, 11);
  }
  .gray_div {
    background: rgba(169, 159, 151);
  }
  .navy_div {
    background: rgba(14, 19, 30);
  }
  .pink_div {
    background: rgba(224, 109, 104);
  }
  .white_div {
    background: #E5E5E5;
  }

  .sub {
    font-size: 30px;
  }
  .main {
    font-size: 112.5px;
  }
}